<p style="color: green"><%= notice %></p>

<div id="predictions">
  <% if @prediction %>
    <%= render @prediction %>
    <p>
      <%= link_to "Show this prediction", @prediction %>
    </p>
  <% else %>
    <p>Il n'y a pas de prédiction pour ce signe pour le moment, <br> mais ne vous inquiétez pas, nos astrologues professionnels sont au travail.</p>
  <% end %>
</div>

<%= link_to "New prediction", new_prediction_path %>