
@font-face {
    font-family: 'Tan Moncheri';
    src: url('../font/tan-moncheri.woff2') format('woff2'),
         url('../font/tan-moncheri.woff') format('woff'),
         url('../font/tan-moncheri.ttf')  format('truetype'),
}

body{
    
    background-color: #bbff00;
    font-family: 'Tan Moncheri', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-left: 20px;
    color: #ffffff;
}