$font-stack: 'Montserrat', sans-serif;
$font-stack2: 'Petit Formal Script', cursive;
$background-color: #26367F;
$color: #ffffff;

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png');
    background-size: cover;
    z-index: -1;
}

.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.star::before, .star::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: white;
    left: 50%;
    top: 0;
}

.star::before {
    transform: rotate(45deg);
}

.star::after {
    transform: rotate(-45deg);
}

body {


    background-color: $background-color;
    font-family: $font-stack;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin-left: 20px;
    color: $color;

    h1 {
        font-family: $font-stack2;
        font-size: 3em;
        font-weight: 1000;
        font-style: normal;
        color: gold;
    }

    h2 {
        font-family: $font-stack2;
        font-size: 2em;
        font-weight: 1000;
        font-style: normal;
        color: gold;
    }

    h3 {
        font-family: $font-stack;
        font-size: 1.5em;
        font-style: normal;
        color: white;
    }

    a {
        color: $color;
        text-decoration: none;
    }

    form {
        font-family: $font-stack2;
        font-weight: 400;
        font-style: normal;

    }

    #circle {
        position: relative;
        width: 40vw;
        height: 40vw;
        border: 5px solid gold;
        border-radius: 50%;
        margin: 0 auto;
        position: absolute;
        translate: 55vw 3vh 0;
    }

    .zodiac {
        font-family: $font-stack2;
        color: black;
        position: absolute;
        font-size: 1.3em;
        width: 6vw;
        height: 6vw;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        z-index: 100;
    }

    #Belier {
        top: 20%;
        left: 13%;
        transform: translate(0, -50%);
    }

    #Taureau {
        top: 20%;
        left: 79%;
        transform: translate(-50%, -50%);
    }

    #Gemeaux {
        top: 70%;
        left: 80%;
        transform: translate(-50%, 0);
    }

    #Cancer {
        top: 80%;
        left: 13%;
        transform: translate(0%, -50%);
    }

    #Lion {
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
    }

    #Vierge {
        top: 65%;
        left: 65%;
        transform: translate(-50%, -50%);
    }

    #Balance {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    #Scorpion {
        top: 65%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    #Sagittaire {
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }

    #Capricorne {
        top: 35%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    #Verseau {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #Poissons {
        top: 35%;
        left: 65%;
        transform: translate(-50%, -50%);
    }


    #prediction {
        text-align: center;
        max-width: 40%;
        margin-top: 20px;
        font-size: 1.5em;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-family: $font-stack;
        font-size: 2em;
        font-weight: 400;
        font-style: normal;
        color: white;
    }

    .nom-categorie {
        font-family: $font-stack2;
        font-size: 1.5em;
        font-weight: 1000;
        font-style: normal;
        color: gold;
    }

    .form-group {
        font-family: $font-stack2;
        font-size: 1.5em;
        font-weight: 1000;
        font-style: normal;
        color: gold;
    }

    .form-control {

        font-family: $font-stack;
    }
}

#bulle_gauche {
    padding: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1000;
}

#bulle_droite {
    padding: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1000;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        color: white;
        text-align: center;
    }

    .footer-p {
        font-family: $font-stack;
        font-size: 1em;
        font-weight: 400;
        font-style: normal;
        color: white;
    }
}